
.badge {
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 0.6em;
    border-radius: 10px;
}

.dot {
    background-color: tomato;
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
}

.cog_dot {
    position: absolute;
    bottom: 15px;
}